In [10]:
import pandas as pd
df = pd.read_csv('D:\\downloads\\archive\\job_postings.csv')

In [11]:
df.head()

,job_link,last_processed_time,last_status,got_summary,got_ner,is_being_worked,job_title,company,job_location,first_seen,search_city,search_country,search_position,job_level,job_type
0,https://www.linkedin.com/jobs/view/senior-mach...,2024-01-21 08:08:48.031964+00,Finished NER,t,t,f,Senior Machine Learning Engineer,Jobs for Humanity,"New Haven, CT",2024-01-14,East Haven,United States,Agricultural-Research Engineer,Mid senior,Onsite
1,https://www.linkedin.com/jobs/view/principal-s...,2024-01-20 04:02:12.331406+00,Finished NER,t,t,f,"Principal Software Engineer, ML Accelerators",Aurora,"San Francisco, CA",2024-01-14,El Cerrito,United States,Set-Key Driver,Mid senior,Onsite
2,https://www.linkedin.com/jobs/view/senior-etl-...,2024-01-21 08:08:31.941595+00,Finished NER,t,t,f,Senior ETL Data Warehouse Specialist,Adame Services LLC,"New York, NY",2024-01-14,Middletown,United States,Technical Support Specialist,Associate,Onsite
3,https://www.linkedin.com/jobs/view/senior-data...,2024-01-20 15:30:55.796572+00,Finished NER,t,t,f,Senior Data Warehouse Developer / Architect,Morph Enterprise,"Harrisburg, PA",2024-01-12,Lebanon,United States,Architect,Mid senior,Onsite
4,https://www.linkedin.com/jobs/view/lead-data-e...,2024-01-21 08:08:58.312124+00,Finished NER,t,t,f,Lead Data Engineer,Dice,"Plano, TX",2024-01-14,McKinney,United States,Maintenance Data Analyst,Mid senior,Onsite

In [12]:
df.shape

(12217, 15)

In [14]:
df.columns

Index(['job_link', 'last_processed_time', 'last_status', 'got_summary',
       'got_ner', 'is_being_worked', 'job_title', 'company', 'job_location',
       'first_seen', 'search_city', 'search_country', 'search_position',
       'job_level', 'job_type'],
      dtype='object')

In [15]:
df.describe(include='all')

,job_link,last_processed_time,last_status,got_summary,got_ner,is_being_worked,job_title,company,job_location,first_seen,search_city,search_country,search_position,job_level,job_type
count,12217,12217,12217,12217,12217,12217,12217,12217,12216,12217,12217,12217,12217,12217,12217
unique,12217,5763,1,1,1,1,6484,3947,2049,6,801,4,711,2,3
top,https://www.linkedin.com/jobs/view/senior-mach...,2024-01-19 09:45:09.215838+00,Finished NER,t,t,f,Senior Data Engineer,Jobs for Humanity,"New York, NY",2024-01-13,Greater London,United States,Data Entry Clerk,Mid senior,Onsite
freq,1,6455,12217,12217,12217,12217,285,732,280,4946,189,10291,1088,10919,12188

In [17]:
df.dtypes

job_link               object
last_processed_time    object
last_status            object
got_summary            object
got_ner                object
is_being_worked        object
job_title              object
company                object
job_location           object
first_seen             object
search_city            object
search_country         object
search_position        object
job_level              object
job_type               object
dtype: object

In [18]:
df.isnull().sum()

job_link               0
last_processed_time    0
last_status            0
got_summary            0
got_ner                0
is_being_worked        0
job_title              0
company                0
job_location           1
first_seen             0
search_city            0
search_country         0
search_position        0
job_level              0
job_type               0
dtype: int64

In [21]:
df['job_title'].unique()

array(['Senior Machine Learning Engineer',
       'Principal Software Engineer, ML Accelerators',
       'Senior ETL Data Warehouse Specialist', ...,
       'Data Reporting Manager, FOOTBALL ASSOCIATION',
       'Corporate AML Alert Investigation Specialist',
       'Medical Technologist, MLS or MLT'], dtype=object)

In [24]:
df['company'].value_counts()

company
Jobs for Humanity                                 732
Recruiting from Scratch                           390
Dice                                              193
Agoda                                             172
ClearanceJobs                                     166
                                                 ...
RevereIT LLC                                        1
The Reynolds and Reynolds Company                   1
Hyundai America Technical Center, Inc. (HATCI)      1
iShare Inc.                                         1
CompSource Mutual Insurance Company                 1
Name: count, Length: 3947, dtype: int64